name: build_and_publish
on:
  pull_request:
  push:
    branches:
      - master
      - wheels
  release:
    types: [published]
  workflow_dispatch:

concurrency:
  group: wheels-${{ github.event_name }}-${{ github.ref_name }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build_wheels:
    name: build wheels (${{ matrix.os }}, ${{ matrix.build }})
    runs-on: ${{ matrix.os }}
    env:
      CIBW_BUILD: '${{ matrix.build }}-*'
      CIBW_SKIP: '*i686 *win32 *s390x *ppc64le *musllinux* *aarch64'
      CIBW_BUILD_VERBOSITY: 1
      CIBW_TEST_COMMAND: python -c "import pygtide; pygtide.test(); pygtide.update(); pygtide.test()"
      MACOSX_DEPLOYMENT_TARGET: 15.0
      # Package the DLL dependencies in the wheel for windows
      # delvewheel cannot mangle the libraries, stripping does not work.
      CIBW_BEFORE_BUILD_WINDOWS: pip install delvewheel
      CIBW_REPAIR_WHEEL_COMMAND_WINDOWS: "delvewheel show {wheel} && delvewheel repair -w {dest_dir} {wheel} --no-mangle-all"

    strategy:
      # for pushes to master, we only build a subset of wheels
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        build: [cp312, cp313, cp314]
        exclude-flag:
          - ${{ github.event_name != 'release' }}
        exclude:
          - build: cp312
            exclude-flag: true
          - build: cp313
            exclude-flag: true
    steps:
      - uses: actions/checkout@v6

      - uses: fortran-lang/setup-fortran@v1
        id: setup-fortran
        with:
          compiler: gcc

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1

      - uses: actions/upload-artifact@v6
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ matrix.build }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: build sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
      - name: Install build
        shell: bash -l {0}
        run: >-
          python -m
          pip install build --user
      - name: Build a source tarball
        shell: bash -l {0}
        run: >-
          python -m build
      - uses: actions/upload-artifact@v6
        with:
          name: sdist
          path: dist/*.tar.gz

  publish:
    name: publish release
    if: github.event_name == 'release'
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: dist
          merge-multiple: true
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI }}
