name: pypi
on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build_sdist:
    name: build sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
      - name: Install build
        shell: bash -l {0}
        run: >-
          python -m
          pip install build --user
      - name: Build a source tarball
        shell: bash -l {0}
        run: >-
          python -m build
      - uses: actions/upload-artifact@v6
        with:
          path: dist/*.tar.gz

  publish:
    name: publish release
    needs: [build_sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: artifact
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI }}
