name: tests
on:
  push:
  pull_request:

jobs:
  run_tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ["3.10", "3.14"]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
      - uses: fortran-lang/setup-fortran@v1
        id: setup-fortran
        with:
          compiler: gcc
      - name: setup conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python }}
          auto-update-conda: true
          environment-file: .github/test_conda_env.yml
      - name: print conda environment info
        run: |
          conda info -a
          conda list
      - name: install package
        run: |
          pip install -v --no-deps .
      - name: run test
        run: |
          mkdir empty; cd empty
          python -c 'import pygtide; pygtide.test()'
          python -c 'import pygtide; pygtide.update()'
          python -c 'import pygtide; pygtide.test()'
